body {
    padding: 0;
    margin: 0;
    background-color: #ede9dc;
}

header {
    display: flex;
    color: white;
    text-align: center;
    font-size: 25px;
    background-image: url(https://images.unsplash.com/photo-1608327624934-69f40c5a819b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
    height: 125px;
    text-shadow: 2px 2px black;
}

.home-display {
    color: white;
    text-align: center;
    font-size: 20px;
    background: none;
    border: none;
    height: 125px;
    width: 350px;
    text-shadow: 2px 2px black;
    font-family: 'Courier New';
}

.my-plants {
    color: white;
    background-color: #1c331c;
    border-radius: 15px;
    text-align: center;
    font-size: 18px;
    border: none;
    height: 45px;
    width: 125px;
    position: absolute;
    right: 15px;
    margin: 10px;
    text-shadow: 2px 2px black;
    font-family: 'Courier New';
}


.my-plants:hover { 
    background-color: #2a472a;
}
.my-plants:active {
    background-color: #2a462a;
    box-shadow: inset 1px #1c331c;
    transform: scale(.95);
}


.container {
    display: flex;
}

.left-box {
    position: absolute;
    width: 80px;
    top: 125px;
    bottom: 0px;
    height: 100%;
    background-color: #3e2e20;
}

.right-box {
    position: absolute;
    width: 80px;
    right: 0px;
    top: 125px;
    bottom: 0px;
    height: 100%;
    background-color: #3e2e20;
}



.succ-container {
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-start;
	align-content: flex-start;
    color: white;
    background-color: #ede9dc;
    position: relative;
    left: 10%;
    width: 80%;
    height: 100%;
    top: 150px;
    text-align: center;
    font-size: 40px;
}

#succ-title {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
    text-align: left;
    left: 85px;
    position: absolute;
    font-family: 'Lucida';
    font-size: 55px;
    width: 100%;
    color: #1c331c;
}




#snake-box {
    display: flex;
    position: relative;
    background-color: #ede9dc;
    height: 300px;
    width: 250px;
    margin-bottom: 50px;
    border: 2px solid  #3e2e20;
    border-radius: 15px;
}
    .snake-header {
        position: absolute;
        font-family: 'Courier New';
        border-radius: 10px 10px 0px 0px;
        width: 100%;
        height: 35px;
        top: -30px;
        background-color: #3e2e20;
        color: white;
        font-size: 30px;
        text-align: left;
        text-indent: 10px;
    }

    #snake-pic {
        display: flex;
        background-image: url(https://images.unsplash.com/photo-1638824096986-5c5ed96d118a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1064&q=80);
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        top: 50px;
        left: 10%;
        height: 200px;
        width: 80%;
        border-radius: 5%;
        box-shadow: 1px 1px 2px #3e2e20;
    }

    .snake-view-btn {
        color: white;
        font-size: 15px;
        background-color: #3e2e20;
        position: absolute;
        border-radius: 20px;
        width: 50%;
        height: 40px;
        bottom: 5px;
        left: 25%;
        font-family: 'Brush Script MT ';
    }
    .snake-view-btn:hover { 
        background-color: #503f30;
    }




#cactus-box {
    display: flex;
    position: relative;
    background-color: #ede9dc;
    height: 300px;
    width: 250px;
    margin-bottom: 50px;
    border: 2px solid  #3e2e20;
    border-radius: 15px;
}
    .cactus-header {
        position: absolute;
        font-family: 'Courier New';
        border-radius: 10px 10px 0px 0px;
        width: 100%;
        height: 35px;
        top: -30px;
        background-color: #3e2e20;
        color: white;
        font-size: 30px;
        text-align: left;
        text-indent: 10px;
    }

    #cactus-pic {
        display: flex;
        background-image: url(https://images.unsplash.com/photo-1596547609788-b5eebd7a334b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        top: 50px;
        left: 10%;
        height: 200px;
        width: 80%;
        border-radius: 5%;
        box-shadow: 1px 1px 2px #3e2e20;
    }

    .cactus-view-btn {
        color: white;
        font-size: 15px;
        background-color: #3e2e20;
        position: absolute;
        border-radius: 20px;
        width: 50%;
        height: 40px;
        bottom: 5px;
        left: 25%;
        font-family: 'Brush Script MT ';
    }
    .cactus-view-btn:hover { 
        background-color: #503f30;
    }





#jade-box {
    display: flex;
    position: relative;
    background-color: #ede9dc;
    height: 300px;
    width: 250px;
    margin-bottom: 50px;
    border: 2px solid  #3e2e20;
    border-radius: 15px;
}
    .jade-header {
        position: absolute;
        font-family: 'Courier New';
        border-radius: 10px 10px 0px 0px;
        width: 100%;
        height: 35px;
        top: -30px;
        background-color: #3e2e20;
        color: white;
        font-size: 30px;
        text-align: left;
        text-indent: 10px;
    }

    #jade-pic {
        display: flex;
        background-image: url(https://images.unsplash.com/photo-1621552330975-f5f9c85dc9c9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        top: 50px;
        left: 10%;
        height: 200px;
        width: 80%;
        border-radius: 5%;
        box-shadow: 1px 1px 2px #3e2e20;
    }

    .jade-view-btn {
        color: white;
        font-size: 15px;
        background-color: #3e2e20;
        position: absolute;
        border-radius: 20px;
        width: 50%;
        height: 40px;
        bottom: 5px;
        left: 25%;
        font-family: 'Brush Script MT ';
    }
    .jade-view-btn:hover { 
        background-color: #503f30;
    }





#zz-box {
    display: flex;
    position: relative;
    background-color: #ede9dc;
    height: 300px;
    width: 250px;
    margin-bottom: 50px;
    border: 2px solid  #3e2e20;
    border-radius: 15px;
}
    .zz-header {
        position: absolute;
        font-family: 'Courier New';
        border-radius: 10px 10px 0px 0px;
        width: 100%;
        height: 35px;
        top: -30px;
        background-color: #3e2e20;
        color: white;
        font-size: 30px;
        text-align: left;
        text-indent: 10px;
    }

    #zz-pic {
        display: flex;
        background-image: url(https://images.unsplash.com/photo-1632207691143-643e2a9a9361?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        top: 50px;
        left: 10%;
        height: 200px;
        width: 80%;
        border-radius: 5%;
        box-shadow: 1px 1px 2px #3e2e20;
    }

    .zz-view-btn {
        color: white;
        font-size: 15px;
        background-color: #3e2e20;
        position: absolute;
        border-radius: 20px;
        width: 50%;
        height: 40px;
        bottom: 5px;
        left: 25%;
        font-family: 'Brush Script MT ';
    }
    .zz-view-btn:hover { 
        background-color: #503f30;
    }





#hearts-box {
    display: flex;
    position: relative;
    background-color: #ede9dc;
    height: 300px;
    width: 250px;
    margin-bottom: 50px;
    border: 2px solid  #3e2e20;
    border-radius: 15px;
}
    .hearts-header {
        position: absolute;
        font-family: 'Courier New';
        border-radius: 10px 10px 0px 0px;
        width: 100%;
        height: 35px;
        top: -25px;
        background-color: #3e2e20;
        color: white;
        font-size: 24px;
        text-align: left;
        text-indent: 10px;
    }

    #hearts-pic {
        display: flex;
        background-image: url(https://images.unsplash.com/photo-1622479303268-c7be347dfaf3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        top: 50px;
        left: 10%;
        height: 200px;
        width: 80%;
        border-radius: 5%;
        box-shadow: 1px 1px 2px #3e2e20;
    }

    .hearts-view-btn {
        color: white;
        font-size: 15px;
        background-color: #3e2e20;
        position: absolute;
        border-radius: 20px;
        width: 50%;
        height: 40px;
        bottom: 5px;
        left: 25%;
        font-family: 'Brush Script MT ';
    }
    .hearts-view-btn:hover { 
        background-color: #503f30;
    }