body {
    padding: 0;
    margin: 0;
    background-color: #ede9dc;
}

header {
    display: flex;
    color: white;
    text-align: center;
    font-size: 25px;
    background-image: url(https://images.unsplash.com/photo-1608327624934-69f40c5a819b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
    height: 125px;
    text-shadow: 2px 2px black;
}

.home-display {
    color: white;
    text-align: center;
    font-size: 20px;
    background: none;
    border: none;
    height: 125px;
    width: 350px;
    text-shadow: 2px 2px black;
    font-family: 'Courier New';
}

.my-plants {
    color: white;
    background-color: #1c331c;
    border-radius: 15px;
    text-align: center;
    font-size: 18px;
    border: none;
    height: 45px;
    width: 125px;
    position: absolute;
    right: 15px;
    margin: 10px;
    text-shadow: 2px 2px black;
    font-family: 'Courier New';
}


.my-plants:hover { 
    background-color: #2a472a;
}
.my-plants:active {
    background-color: #2a462a;
    box-shadow: inset 1px #1c331c;
    transform: scale(.95);
}


.container {
    display: flex;
}

.left-box {
    position: absolute;
    width: 80px;
    height: 100%;
    top: 125px;
    bottom: 0px;
    background-color: #3e2e20;
}

.right-box {
    position: absolute;
    width: 80px;
    right: 0px;
    top: 125px;
    height: 100%;
    bottom: 0px;
    background-color: #3e2e20;
}




.indoor-container {
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-start;
	align-content: flex-start;
    color: white;
    background-color: #ede9dc;
    position: relative;
    left: 10%;
    width: 80%;
    height: 100%;
    top: 150px;
    text-align: center;
    font-size: 40px;
}

#indoor-title {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
    text-align: left;
    left: 85px;
    position: absolute;
    font-family: 'Lucida';
    font-size: 55px;
    width: 100%;
    color: #1c331c;
}





#monstera-box {
    display: flex;
    position: relative;
    background-color: #ede9dc;
    height: 300px;
    width: 250px;
    margin-bottom: 50px;
    border: 2px solid  #3e2e20;
    border-radius: 15px;
    }
    .monstera-header {
        position: absolute;
        font-family: 'Courier New';
        border-radius: 10px 10px 0px 0px;
        width: 100%;
        height: 35px;
        top: -30px;
        background-color: #3e2e20;
        color: white;
        font-size: 30px;
        text-align: left;
        text-indent: 10px;
    }

    #monstera-pic {
        display: flex;
        background-image: url(https://images.unsplash.com/photo-1637967885705-a60e3fea266d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80);
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        top: 50px;
        left: 10%;
        height: 200px;
        width: 80%;
        border-radius: 5%;
        box-shadow: 1px 1px 2px #3e2e20;
    }

    .monstera-view-btn {
        color: white;
        font-size: 15px;
        background-color: #3e2e20;
        position: absolute;
        border-radius: 20px;
        width: 50%;
        height: 40px;
        bottom: 5px;
        left: 25%;
        font-family: 'Brush Script MT ';
    }
    .monstera-view-btn:hover { 
        background-color: #503f30;
    }




    #fiddle-box {
        display: flex;
        position: relative;
        background-color: #ede9dc;
        height: 300px;
        width: 250px;
        margin-bottom: 50px;
        border: 2px solid  #3e2e20;
        border-radius: 15px;
    }
        .fiddle-header {
            position: absolute;
            font-family: 'Courier New';
            border-radius: 10px 10px 0px 0px;
            width: 100%;
            height: 35px;
            top: -25px;
            background-color: #3e2e20;
            color: white;
            font-size: 25px;
            text-align: left;
            text-indent: 10px;
        }

        #fiddle-pic {
            display: flex;
            background-image: url(https://images.unsplash.com/photo-1596547612397-1432a7a7d37d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80);
            background-size: cover;
            background-repeat: no-repeat;
            position: absolute;
            top: 50px;
            left: 10%;
            height: 200px;
            width: 80%;
            border-radius: 5%;
            box-shadow: 1px 1px 2px #3e2e20;
        }

        .fiddle-view-btn {
            color: white;
            font-size: 15px;
            background-color: #3e2e20;
            position: absolute;
            border-radius: 20px;
            width: 50%;
            height: 40px;
            bottom: 5px;
            left: 25%;
            font-family: 'Brush Script MT ';
        }
        .fiddle-view-btn:hover { 
            background-color: #503f30;
        }




    #money-plant-box {
        display: flex;
        position: relative;
        background-color: #ede9dc;
        height: 300px;
        width: 250px;
        margin-bottom: 50px;
        border: 2px solid  #3e2e20;
        border-radius: 15px;
    }
        .money-plant-header {
            position: absolute;
            font-family: 'Courier New';
            border-radius: 10px 10px 0px 0px;
            width: 100%;
            height: 35px;
            top: -20px;
            background-color: #3e2e20;
            color: white;
            font-size: 20px;
            text-align: left;
            text-indent: 10px;
        }

        #money-plant-pic {
            display: flex;
            background-image: url(https://images.unsplash.com/photo-1600411832986-5a4477b64a1c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            position: absolute;
            top: 50px;
            left: 10%;
            height: 200px;
            width: 80%;
            border-radius: 5%;
            box-shadow: 1px 1px 2px #3e2e20;
        }

        .money-plant-view-btn {
            color: white;
            font-size: 15px;
            background-color: #3e2e20;
            position: absolute;
            border-radius: 20px;
            width: 50%;
            height: 40px;
            bottom: 5px;
            left: 25%;
            font-family: 'Brush Script MT ';
        }
        .money-plant-view-btn:hover { 
            background-color: #503f30;
        }





    #pothos-box {
        display: flex;
        position: relative;
        background-color: #ede9dc;
        height: 300px;
        width: 250px;
        margin-bottom: 50px;
        border: 2px solid  #3e2e20;
        border-radius: 15px;
    }
        .pothos-header {
            position: absolute;
            font-family: 'Courier New';
            border-radius: 10px 10px 0px 0px;
            width: 100%;
            height: 35px;
            top: -25px;
            background-color: #3e2e20;
            color: white;
            font-size: 25px;
            text-align: left;
            text-indent: 10px;
        }

        #pothos-pic {
            display: flex;
            background-image: url(https://images.unsplash.com/photo-1613737693063-a3c03b374aaf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            position: absolute;
            top: 50px;
            left: 10%;
            height: 200px;
            width: 80%;
            border-radius: 5%;
            box-shadow: 1px 1px 2px #3e2e20;
        }

        .pothos-view-btn {
            color: white;
            font-size: 15px;
            background-color: #3e2e20;
            position: absolute;
            border-radius: 20px;
            width: 50%;
            height: 40px;
            bottom: 5px;
            left: 25%;
            font-family: 'Brush Script MT ';
        }
        .pothos-view-btn:hover { 
            background-color: #503f30;
        }





    #spider-box {
        display: flex;
        position: relative;
        background-color: #ede9dc;
        height: 300px;
        width: 250px;
        margin-bottom: 50px;
        border: 2px solid  #3e2e20;
        border-radius: 15px;
    }
        .spider-header {
            position: absolute;
            font-family: 'Courier New';
            border-radius: 10px 10px 0px 0px;
            width: 100%;
            height: 35px;
            top: -25px;
            background-color: #3e2e20;
            color: white;
            font-size: 25px;
            text-align: left;
            text-indent: 10px;
        }

        #spider-pic {
            display: flex;
            background-image: url(https://images.unsplash.com/photo-1647631703145-01e8bf7cd149?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=765&q=80);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            position: absolute;
            top: 50px;
            left: 10%;
            height: 200px;
            width: 80%;
            border-radius: 5%;
            box-shadow: 1px 1px 2px #3e2e20;
        }

        .spider-view-btn {
            color: white;
            font-size: 15px;
            background-color: #3e2e20;
            position: absolute;
            border-radius: 20px;
            width: 50%;
            height: 40px;
            bottom: 5px;
            left: 25%;
            font-family: 'Brush Script MT ';
        }
        .spider-view-btn:hover { 
            background-color: #503f30;
        }
