body {
    padding: 0;
    margin: 0;
    background-color: #ede9dc;
}

header {
    display: flex;
    color: white;
    text-align: center;
    font-size: 25px;
    background-image: url(https://images.unsplash.com/photo-1608327624934-69f40c5a819b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
    height: 125px;
    text-shadow: 2px 2px black;
}

.home-display {
    color: white;
    text-align: center;
    font-size: 20px;
    background: none;
    border: none;
    height: 125px;
    width: 350px;
    text-shadow: 2px 2px black;
    font-family: 'Courier New';
}

.my-plants {
    color: white;
    background-color: #1c331c;
    border-radius: 15px;
    text-align: center;
    font-size: 18px;
    border: none;
    height: 45px;
    width: 125px;
    position: absolute;
    right: 15px;
    margin: 10px;
    text-shadow: 2px 2px black;
    font-family: 'Courier New';
}


.my-plants:hover { 
    background-color: #2a472a;
}
.my-plants:active {
    background-color: #2a462a;
    box-shadow: inset 1px #1c331c;
    transform: scale(.95);
}


.container {
    display: flex;
}

.left-box {
    position: absolute;
    width: 80px;
    top: 125px;
    bottom: 0px;
    height: 250%;
    background-color: #3e2e20;
}

.right-box {
    position: absolute;
    width: 80px;
    right: 0px;
    top: 125px;
    bottom: 0px;
    height: 250%;
    background-color: #3e2e20;
}




.all-container {
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-start;
	align-content: flex-start;
    color: white;
    background-color: #ede9dc;
    position: relative;
    left: 10%;
    width: 80%;
    height: 100%;
    top: 150px;
    text-align: center;
    font-size: 40px;
}

#all-title {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
    text-align: left;
    left: 85px;
    position: absolute;
    font-family: 'Lucida';
    font-size: 55px;
    width: 100%;
    color: #1c331c;
}


/* Indoor */

    #monstera-box {
    display: flex;
    position: relative;
    background-color: #ede9dc;
    height: 300px;
    width: 250px;
    margin-bottom: 50px;
    border: 2px solid  #3e2e20;
    border-radius: 15px;
    }
    .monstera-header {
        position: absolute;
        font-family: 'Courier New';
        border-radius: 10px 10px 0px 0px;
        width: 100%;
        height: 35px;
        top: -30px;
        background-color: #3e2e20;
        color: white;
        font-size: 30px;
        text-align: left;
        text-indent: 10px;
    }

    #monstera-pic {
        display: flex;
        background-image: url(https://images.unsplash.com/photo-1637967885705-a60e3fea266d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80);
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        top: 50px;
        left: 10%;
        height: 200px;
        width: 80%;
        border-radius: 5%;
        box-shadow: 1px 1px 2px #3e2e20;
    }

    .monstera-view-btn {
        color: white;
        font-size: 15px;
        background-color: #3e2e20;
        position: absolute;
        border-radius: 20px;
        width: 50%;
        height: 40px;
        bottom: 5px;
        left: 25%;
        font-family: 'Brush Script MT ';
    }
    .monstera-view-btn:hover { 
        background-color: #503f30;
    }




    #fiddle-box {
        display: flex;
        position: relative;
        background-color: #ede9dc;
        height: 300px;
        width: 250px;
        margin-bottom: 50px;
        border: 2px solid  #3e2e20;
        border-radius: 15px;
    }
        .fiddle-header {
            position: absolute;
            font-family: 'Courier New';
            border-radius: 10px 10px 0px 0px;
            width: 100%;
            height: 35px;
            top: -25px;
            background-color: #3e2e20;
            color: white;
            font-size: 25px;
            text-align: left;
            text-indent: 10px;
        }

        #fiddle-pic {
            display: flex;
            background-image: url(https://images.unsplash.com/photo-1596547612397-1432a7a7d37d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80);
            background-size: cover;
            background-repeat: no-repeat;
            position: absolute;
            top: 50px;
            left: 10%;
            height: 200px;
            width: 80%;
            border-radius: 5%;
            box-shadow: 1px 1px 2px #3e2e20;
        }

        .fiddle-view-btn {
            color: white;
            font-size: 15px;
            background-color: #3e2e20;
            position: absolute;
            border-radius: 20px;
            width: 50%;
            height: 40px;
            bottom: 5px;
            left: 25%;
            font-family: 'Brush Script MT ';
        }
        .fiddle-view-btn:hover { 
            background-color: #503f30;
        }




    #money-plant-box {
        display: flex;
        position: relative;
        background-color: #ede9dc;
        height: 300px;
        width: 250px;
        margin-bottom: 50px;
        border: 2px solid  #3e2e20;
        border-radius: 15px;
    }
        .money-plant-header {
            position: absolute;
            font-family: 'Courier New';
            border-radius: 10px 10px 0px 0px;
            width: 100%;
            height: 35px;
            top: -20px;
            background-color: #3e2e20;
            color: white;
            font-size: 20px;
            text-align: left;
            text-indent: 10px;
        }

        #money-plant-pic {
            display: flex;
            background-image: url(https://images.unsplash.com/photo-1600411832986-5a4477b64a1c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            position: absolute;
            top: 50px;
            left: 10%;
            height: 200px;
            width: 80%;
            border-radius: 5%;
            box-shadow: 1px 1px 2px #3e2e20;
        }

        .money-plant-view-btn {
            color: white;
            font-size: 15px;
            background-color: #3e2e20;
            position: absolute;
            border-radius: 20px;
            width: 50%;
            height: 40px;
            bottom: 5px;
            left: 25%;
            font-family: 'Brush Script MT ';
        }
        .money-plant-view-btn:hover { 
            background-color: #503f30;
        }





    #rubber-box {
        display: flex;
        position: relative;
        background-color: #ede9dc;
        height: 300px;
        width: 250px;
        margin-bottom: 50px;
        border: 2px solid  #3e2e20;
        border-radius: 15px;
    }
        .rubber-header {
            position: absolute;
            font-family: 'Courier New';
            border-radius: 10px 10px 0px 0px;
            width: 100%;
            height: 35px;
            top: -25px;
            background-color: #3e2e20;
            color: white;
            font-size: 25px;
            text-align: left;
            text-indent: 10px;
        }

        #rubber-pic {
            display: flex;
            background-image: url(https://images.unsplash.com/photo-1613737693507-cdb994656e26?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=765&q=80);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            position: absolute;
            top: 50px;
            left: 10%;
            height: 200px;
            width: 80%;
            border-radius: 5%;
            box-shadow: 1px 1px 2px #3e2e20;
        }

        .rubber-view-btn {
            color: white;
            font-size: 15px;
            background-color: #3e2e20;
            position: absolute;
            border-radius: 20px;
            width: 50%;
            height: 40px;
            bottom: 5px;
            left: 25%;
            font-family: 'Brush Script MT ';
        }
        .rubber-view-btn:hover { 
            background-color: #503f30;
        }





    #lucky-box {
        display: flex;
        position: relative;
        background-color: #ede9dc;
        height: 300px;
        width: 250px;
        margin-bottom: 50px;
        border: 2px solid  #3e2e20;
        border-radius: 15px;
    }
        .lucky-header {
            position: absolute;
            font-family: 'Courier New';
            border-radius: 10px 10px 0px 0px;
            width: 100%;
            height: 35px;
            top: -25px;
            background-color: #3e2e20;
            color: white;
            font-size: 25px;
            text-align: left;
            text-indent: 10px;
        }

        #lucky-pic {
            display: flex;
            background-image: url(https://images.unsplash.com/photo-1643754547206-97f97802b916?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            position: absolute;
            top: 50px;
            left: 10%;
            height: 200px;
            width: 80%;
            border-radius: 5%;
            box-shadow: 1px 1px 2px #3e2e20;
        }

        .lucky-view-btn {
            color: white;
            font-size: 15px;
            background-color: #3e2e20;
            position: absolute;
            border-radius: 20px;
            width: 50%;
            height: 40px;
            bottom: 5px;
            left: 25%;
            font-family: 'Brush Script MT ';
        }
        .lucky-view-btn:hover { 
            background-color: #503f30;
        }





    #pothos-box {
        display: flex;
        position: relative;
        background-color: #ede9dc;
        height: 300px;
        width: 250px;
        margin-bottom: 50px;
        border: 2px solid  #3e2e20;
        border-radius: 15px;
    }
        .pothos-header {
            position: absolute;
            font-family: 'Courier New';
            border-radius: 10px 10px 0px 0px;
            width: 100%;
            height: 35px;
            top: -25px;
            background-color: #3e2e20;
            color: white;
            font-size: 25px;
            text-align: left;
            text-indent: 10px;
        }

        #pothos-pic {
            display: flex;
            background-image: url(https://images.unsplash.com/photo-1613737693063-a3c03b374aaf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            position: absolute;
            top: 50px;
            left: 10%;
            height: 200px;
            width: 80%;
            border-radius: 5%;
            box-shadow: 1px 1px 2px #3e2e20;
        }

        .pothos-view-btn {
            color: white;
            font-size: 15px;
            background-color: #3e2e20;
            position: absolute;
            border-radius: 20px;
            width: 50%;
            height: 40px;
            bottom: 5px;
            left: 25%;
            font-family: 'Brush Script MT ';
        }
        .pothos-view-btn:hover { 
            background-color: #503f30;
        }





    #ponyPalm-box {
        display: flex;
        position: relative;
        background-color: #ede9dc;
        height: 300px;
        width: 250px;
        margin-bottom: 50px;
        border: 2px solid  #3e2e20;
        border-radius: 15px;
    }
        .ponyPalm-header {
            position: absolute;
            font-family: 'Courier New';
            border-radius: 10px 10px 0px 0px;
            width: 100%;
            height: 35px;
            top: -25px;
            background-color: #3e2e20;
            color: white;
            font-size: 25px;
            text-align: left;
            text-indent: 10px;
        }

        #ponyPalm-pic {
            display: flex;
            background-image: url(https://images.unsplash.com/photo-1613737693060-1324b1f5eab3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=765&q=80);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            position: absolute;
            top: 50px;
            left: 10%;
            height: 200px;
            width: 80%;
            border-radius: 5%;
            box-shadow: 1px 1px 2px #3e2e20;
        }

        .ponyPalm-view-btn {
            color: white;
            font-size: 15px;
            background-color: #3e2e20;
            position: absolute;
            border-radius: 20px;
            width: 50%;
            height: 40px;
            bottom: 5px;
            left: 25%;
            font-family: 'Brush Script MT ';
        }
        .ponyPalm-view-btn:hover { 
            background-color: #503f30;
        }





    #birds-box {
        display: flex;
        position: relative;
        background-color: #ede9dc;
        height: 300px;
        width: 250px;
        margin-bottom: 50px;
        border: 2px solid  #3e2e20;
        border-radius: 15px;
    }
        .birds-header {
            position: absolute;
            font-family: 'Courier New';
            border-radius: 10px 10px 0px 0px;
            width: 100%;
            height: 35px;
            top: -25px;
            background-color: #3e2e20;
            color: white;
            font-size: 22px;
            text-align: left;
            text-indent: 10px;
        }

        #birds-pic {
            display: flex;
            background-image: url(https://images.unsplash.com/photo-1615213739532-61ee9d0120a7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=765&q=80);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            position: absolute;
            top: 50px;
            left: 10%;
            height: 200px;
            width: 80%;
            border-radius: 5%;
            box-shadow: 1px 1px 2px #3e2e20;
        }

        .birds-view-btn {
            color: white;
            font-size: 15px;
            background-color: #3e2e20;
            position: absolute;
            border-radius: 20px;
            width: 50%;
            height: 40px;
            bottom: 5px;
            left: 25%;
            font-family: 'Brush Script MT ';
        }
        .birds-view-btn:hover { 
            background-color: #503f30;
        }





    #lily-box {
        display: flex;
        position: relative;
        background-color: #ede9dc;
        height: 300px;
        width: 250px;
        margin-bottom: 50px;
        border: 2px solid  #3e2e20;
        border-radius: 15px;
    }
        .lily-header {
            position: absolute;
            font-family: 'Courier New';
            border-radius: 10px 10px 0px 0px;
            width: 100%;
            height: 35px;
            top: -25px;
            background-color: #3e2e20;
            color: white;
            font-size: 25px;
            text-align: left;
            text-indent: 10px;
        }

        #lily-pic {
            display: flex;
            background-image: url(https://images.unsplash.com/photo-1620311497344-bce841c9c060?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=765&q=80);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            position: absolute;
            top: 50px;
            left: 10%;
            height: 200px;
            width: 80%;
            border-radius: 5%;
            box-shadow: 1px 1px 2px #3e2e20;
        }

        .lily-view-btn {
            color: white;
            font-size: 15px;
            background-color: #3e2e20;
            position: absolute;
            border-radius: 20px;
            width: 50%;
            height: 40px;
            bottom: 5px;
            left: 25%;
            font-family: 'Brush Script MT ';
        }
        .lily-view-btn:hover { 
            background-color: #503f30;
        }





    #spider-box {
        display: flex;
        position: relative;
        background-color: #ede9dc;
        height: 300px;
        width: 250px;
        margin-bottom: 50px;
        border: 2px solid  #3e2e20;
        border-radius: 15px;
    }
        .spider-header {
            position: absolute;
            font-family: 'Courier New';
            border-radius: 10px 10px 0px 0px;
            width: 100%;
            height: 35px;
            top: -25px;
            background-color: #3e2e20;
            color: white;
            font-size: 25px;
            text-align: left;
            text-indent: 10px;
        }

        #spider-pic {
            display: flex;
            background-image: url(https://images.unsplash.com/photo-1647631703145-01e8bf7cd149?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=765&q=80);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            position: absolute;
            top: 50px;
            left: 10%;
            height: 200px;
            width: 80%;
            border-radius: 5%;
            box-shadow: 1px 1px 2px #3e2e20;
        }

        .spider-view-btn {
            color: white;
            font-size: 15px;
            background-color: #3e2e20;
            position: absolute;
            border-radius: 20px;
            width: 50%;
            height: 40px;
            bottom: 5px;
            left: 25%;
            font-family: 'Brush Script MT ';
        }
        .spider-view-btn:hover { 
            background-color: #503f30;
        }




/* Succulents */

#snake-box {
    display: flex;
    position: relative;
    background-color: #ede9dc;
    height: 300px;
    width: 250px;
    margin-bottom: 50px;
    border: 2px solid  #3e2e20;
    border-radius: 15px;
}
    .snake-header {
        position: absolute;
        font-family: 'Courier New';
        border-radius: 10px 10px 0px 0px;
        width: 100%;
        height: 35px;
        top: -30px;
        background-color: #3e2e20;
        color: white;
        font-size: 30px;
        text-align: left;
        text-indent: 10px;
    }

    #snake-pic {
        display: flex;
        background-image: url(https://images.unsplash.com/photo-1638824096986-5c5ed96d118a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1064&q=80);
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        top: 50px;
        left: 10%;
        height: 200px;
        width: 80%;
        border-radius: 5%;
        box-shadow: 1px 1px 2px #3e2e20;
    }

    .snake-view-btn {
        color: white;
        font-size: 15px;
        background-color: #3e2e20;
        position: absolute;
        border-radius: 20px;
        width: 50%;
        height: 40px;
        bottom: 5px;
        left: 25%;
        font-family: 'Brush Script MT ';
    }
    .snake-view-btn:hover { 
        background-color: #503f30;
    }




#echeveria-box {
    display: flex;
    position: relative;
    background-color: #ede9dc;
    height: 300px;
    width: 250px;
    margin-bottom: 50px;
    border: 2px solid  #3e2e20;
    border-radius: 15px;
}
    .echeveria-header {
        position: absolute;
        font-family: 'Courier New';
        border-radius: 10px 10px 0px 0px;
        width: 100%;
        height: 35px;
        top: -30px;
        background-color: #3e2e20;
        color: white;
        font-size: 30px;
        text-align: left;
        text-indent: 10px;
    }

    #echeveria-pic {
        display: flex;
        background-image: url(https://images.unsplash.com/photo-1529340376075-067b25b3d7fa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        top: 50px;
        left: 10%;
        height: 200px;
        width: 80%;
        border-radius: 5%;
        box-shadow: 1px 1px 2px #3e2e20;
    }

    .echeveria-view-btn {
        color: white;
        font-size: 15px;
        background-color: #3e2e20;
        position: absolute;
        border-radius: 20px;
        width: 50%;
        height: 40px;
        bottom: 5px;
        left: 25%;
        font-family: 'Brush Script MT ';
    }
    .echeveria-view-btn:hover { 
        background-color: #503f30;
    }




#cactus-box {
    display: flex;
    position: relative;
    background-color: #ede9dc;
    height: 300px;
    width: 250px;
    margin-bottom: 50px;
    border: 2px solid  #3e2e20;
    border-radius: 15px;
}
    .cactus-header {
        position: absolute;
        font-family: 'Courier New';
        border-radius: 10px 10px 0px 0px;
        width: 100%;
        height: 35px;
        top: -30px;
        background-color: #3e2e20;
        color: white;
        font-size: 30px;
        text-align: left;
        text-indent: 10px;
    }

    #cactus-pic {
        display: flex;
        background-image: url(https://images.unsplash.com/photo-1596547609788-b5eebd7a334b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        top: 50px;
        left: 10%;
        height: 200px;
        width: 80%;
        border-radius: 5%;
        box-shadow: 1px 1px 2px #3e2e20;
    }

    .cactus-view-btn {
        color: white;
        font-size: 15px;
        background-color: #3e2e20;
        position: absolute;
        border-radius: 20px;
        width: 50%;
        height: 40px;
        bottom: 5px;
        left: 25%;
        font-family: 'Brush Script MT ';
    }
    .cactus-view-btn:hover { 
        background-color: #503f30;
    }





#jade-box {
    display: flex;
    position: relative;
    background-color: #ede9dc;
    height: 300px;
    width: 250px;
    margin-bottom: 50px;
    border: 2px solid  #3e2e20;
    border-radius: 15px;
}
    .jade-header {
        position: absolute;
        font-family: 'Courier New';
        border-radius: 10px 10px 0px 0px;
        width: 100%;
        height: 35px;
        top: -30px;
        background-color: #3e2e20;
        color: white;
        font-size: 30px;
        text-align: left;
        text-indent: 10px;
    }

    #jade-pic {
        display: flex;
        background-image: url(https://images.unsplash.com/photo-1621552330975-f5f9c85dc9c9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        top: 50px;
        left: 10%;
        height: 200px;
        width: 80%;
        border-radius: 5%;
        box-shadow: 1px 1px 2px #3e2e20;
    }

    .jade-view-btn {
        color: white;
        font-size: 15px;
        background-color: #3e2e20;
        position: absolute;
        border-radius: 20px;
        width: 50%;
        height: 40px;
        bottom: 5px;
        left: 25%;
        font-family: 'Brush Script MT ';
    }
    .jade-view-btn:hover { 
        background-color: #503f30;
    }





#bear-box {
    display: flex;
    position: relative;
    background-color: #ede9dc;
    height: 300px;
    width: 250px;
    margin-bottom: 50px;
    border: 2px solid  #3e2e20;
    border-radius: 15px;
}
    .bear-header {
        position: absolute;
        font-family: 'Courier New';
        border-radius: 10px 10px 0px 0px;
        width: 100%;
        height: 35px;
        top: -30px;
        background-color: #3e2e20;
        color: white;
        font-size: 30px;
        text-align: left;
        text-indent: 10px;
    }

    #bear-pic {
        display: flex;
        background-image: url(https://images.unsplash.com/photo-1623804322653-ef9afccae982?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        top: 50px;
        left: 10%;
        height: 200px;
        width: 80%;
        border-radius: 5%;
        box-shadow: 1px 1px 2px #3e2e20;
    }

    .bear-view-btn {
        color: white;
        font-size: 15px;
        background-color: #3e2e20;
        position: absolute;
        border-radius: 20px;
        width: 50%;
        height: 40px;
        bottom: 5px;
        left: 25%;
        font-family: 'Brush Script MT ';
    }
    .bear-view-btn:hover { 
        background-color: #503f30;
    }





#aloe-box {
    display: flex;
    position: relative;
    background-color: #ede9dc;
    height: 300px;
    width: 250px;
    margin-bottom: 50px;
    border: 2px solid  #3e2e20;
    border-radius: 15px;
}
    .aloe-header {
        position: absolute;
        font-family: 'Courier New';
        border-radius: 10px 10px 0px 0px;
        width: 100%;
        height: 35px;
        top: -30px;
        background-color: #3e2e20;
        color: white;
        font-size: 30px;
        text-align: left;
        text-indent: 10px;
    }

    #aloe-pic {
        display: flex;
        background-image: url(https://images.unsplash.com/photo-1509423350716-97f9360b4e09?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80);
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        top: 50px;
        left: 10%;
        height: 200px;
        width: 80%;
        border-radius: 5%;
        box-shadow: 1px 1px 2px #3e2e20;
    }

    .aloe-view-btn {
        color: white;
        font-size: 15px;
        background-color: #3e2e20;
        position: absolute;
        border-radius: 20px;
        width: 50%;
        height: 40px;
        bottom: 5px;
        left: 25%;
        font-family: 'Brush Script MT ';
    }
    .aloe-view-btn:hover { 
        background-color: #503f30;
    }





#pearls-box {
    display: flex;
    position: relative;
    background-color: #ede9dc;
    height: 300px;
    width: 250px;
    margin-bottom: 50px;
    border: 2px solid  #3e2e20;
    border-radius: 15px;
}
    .pearls-header {
        position: absolute;
        font-family: 'Courier New';
        border-radius: 10px 10px 0px 0px;
        width: 100%;
        height: 35px;
        top: -25px;
        background-color: #3e2e20;
        color: white;
        font-size: 24px;
        text-align: left;
        text-indent: 10px;
    }

    #pearls-pic {
        display: flex;
        background-image: url(https://images.unsplash.com/photo-1536846826492-c51b3984bc96?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        top: 50px;
        left: 10%;
        height: 200px;
        width: 80%;
        border-radius: 5%;
        box-shadow: 1px 1px 2px #3e2e20;
    }

    .pearls-view-btn {
        color: white;
        font-size: 15px;
        background-color: #3e2e20;
        position: absolute;
        border-radius: 20px;
        width: 50%;
        height: 40px;
        bottom: 5px;
        left: 25%;
        font-family: 'Brush Script MT ';
    }
    .pearls-view-btn:hover { 
        background-color: #503f30;
    }





#zz-box {
    display: flex;
    position: relative;
    background-color: #ede9dc;
    height: 300px;
    width: 250px;
    margin-bottom: 50px;
    border: 2px solid  #3e2e20;
    border-radius: 15px;
}
    .zz-header {
        position: absolute;
        font-family: 'Courier New';
        border-radius: 10px 10px 0px 0px;
        width: 100%;
        height: 35px;
        top: -30px;
        background-color: #3e2e20;
        color: white;
        font-size: 30px;
        text-align: left;
        text-indent: 10px;
    }

    #zz-pic {
        display: flex;
        background-image: url(https://images.unsplash.com/photo-1632207691143-643e2a9a9361?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        top: 50px;
        left: 10%;
        height: 200px;
        width: 80%;
        border-radius: 5%;
        box-shadow: 1px 1px 2px #3e2e20;
    }

    .zz-view-btn {
        color: white;
        font-size: 15px;
        background-color: #3e2e20;
        position: absolute;
        border-radius: 20px;
        width: 50%;
        height: 40px;
        bottom: 5px;
        left: 25%;
        font-family: 'Brush Script MT ';
    }
    .zz-view-btn:hover { 
        background-color: #503f30;
    }




#air-box {
    display: flex;
    position: relative;
    background-color: #ede9dc;
    height: 300px;
    width: 250px;
    margin-bottom: 50px;
    border: 2px solid  #3e2e20;
    border-radius: 15px;
}
    .air-header {
        position: absolute;
        font-family: 'Courier New';
        border-radius: 10px 10px 0px 0px;
        width: 100%;
        height: 35px;
        top: -30px;
        background-color: #3e2e20;
        color: white;
        font-size: 30px;
        text-align: left;
        text-indent: 10px;
    }

    #air-pic {
        display: flex;
        background-image: url(https://images.unsplash.com/photo-1416339657728-db4f81e78693?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80);
        background-size: 110%;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        top: 50px;
        left: 10%;
        height: 200px;
        width: 80%;
        border-radius: 5%;
        box-shadow: 1px 1px 2px #3e2e20;
    }

    .air-view-btn {
        color: white;
        font-size: 15px;
        background-color: #3e2e20;
        position: absolute;
        border-radius: 20px;
        width: 50%;
        height: 40px;
        bottom: 5px;
        left: 25%;
        font-family: 'Brush Script MT ';
    }

    .air-view-btn:hover { 
        background-color: #503f30;
    }





#hearts-box {
    display: flex;
    position: relative;
    background-color: #ede9dc;
    height: 300px;
    width: 250px;
    margin-bottom: 50px;
    border: 2px solid  #3e2e20;
    border-radius: 15px;
}
    .hearts-header {
        position: absolute;
        font-family: 'Courier New';
        border-radius: 10px 10px 0px 0px;
        width: 100%;
        height: 35px;
        top: -25px;
        background-color: #3e2e20;
        color: white;
        font-size: 24px;
        text-align: left;
        text-indent: 10px;
    }

    #hearts-pic {
        display: flex;
        background-image: url(https://images.unsplash.com/photo-1622479303268-c7be347dfaf3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        top: 50px;
        left: 10%;
        height: 200px;
        width: 80%;
        border-radius: 5%;
        box-shadow: 1px 1px 2px #3e2e20;
    }

    .hearts-view-btn {
        color: white;
        font-size: 15px;
        background-color: #3e2e20;
        position: absolute;
        border-radius: 20px;
        width: 50%;
        height: 40px;
        bottom: 5px;
        left: 25%;
        font-family: 'Brush Script MT ';
    }
    .hearts-view-btn:hover { 
        background-color: #503f30;
    }




/* Garden */


#lettuce-box {
    display: flex;
    position: relative;
    background-color: #ede9dc;
    height: 300px;
    width: 250px;
    margin-bottom: 50px;
    border: 2px solid  #3e2e20;
    border-radius: 15px;
}
    .lettuce-header {
        position: absolute;
        font-family: 'Courier New';
        border-radius: 10px 10px 0px 0px;
        width: 100%;
        height: 35px;
        top: -30px;
        background-color: #3e2e20;
        color: white;
        font-size: 30px;
        text-align: left;
        text-indent: 10px;
    }

    #lettuce-pic {
        display: flex;
        background-image: url(https://images.unsplash.com/photo-1584650795276-da2ee6f2f4ec?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom;
        position: absolute;
        top: 50px;
        left: 10%;
        height: 200px;
        width: 80%;
        border-radius: 5%;
        box-shadow: 1px 1px 2px #3e2e20;
    }

    .lettuce-view-btn {
        color: white;
        font-size: 15px;
        background-color: #3e2e20;
        position: absolute;
        border-radius: 20px;
        width: 50%;
        height: 40px;
        bottom: 5px;
        left: 25%;
        font-family: 'Brush Script MT ';
    }
    .lettuce-view-btn:hover { 
        background-color: #503f30;
    }




#tomatoes-box {
    display: flex;
    position: relative;
    background-color: #ede9dc;
    height: 300px;
    width: 250px;
    margin-bottom: 50px;
    border: 2px solid  #3e2e20;
    border-radius: 15px;
}
    .tomatoes-header {
        position: absolute;
        font-family: 'Courier New';
        border-radius: 10px 10px 0px 0px;
        width: 100%;
        height: 35px;
        top: -30px;
        background-color: #3e2e20;
        color: white;
        font-size: 30px;
        text-align: left;
        text-indent: 10px;
    }

    #tomatoes-pic {
        display: flex;
        background-image: url(https://images.unsplash.com/photo-1596199050105-6d5d32222916?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        top: 50px;
        left: 10%;
        height: 200px;
        width: 80%;
        border-radius: 5%;
        box-shadow: 1px 1px 2px #3e2e20;
    }

    .tomatoes-view-btn {
        color: white;
        font-size: 15px;
        background-color: #3e2e20;
        position: absolute;
        border-radius: 20px;
        width: 50%;
        height: 40px;
        bottom: 5px;
        left: 25%;
        font-family: 'Brush Script MT ';
    }
    .tomatoes-view-btn:hover { 
        background-color: #503f30;
    }




#beans-box {
    display: flex;
    position: relative;
    background-color: #ede9dc;
    height: 300px;
    width: 250px;
    margin-bottom: 50px;
    border: 2px solid  #3e2e20;
    border-radius: 15px;
}
    .beans-header {
        position: absolute;
        font-family: 'Courier New';
        border-radius: 10px 10px 0px 0px;
        width: 100%;
        height: 35px;
        top: -30px;
        background-color: #3e2e20;
        color: white;
        font-size: 30px;
        text-align: left;
        text-indent: 10px;
    }

    #beans-pic {
        display: flex;
        background-image: url(https://images.unsplash.com/photo-1631981792160-d029119a766e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
        background-size: 175%;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        top: 50px;
        left: 10%;
        height: 200px;
        width: 80%;
        border-radius: 5%;
        box-shadow: 1px 1px 2px #3e2e20;
    }

    .beans-view-btn {
        color: white;
        font-size: 15px;
        background-color: #3e2e20;
        position: absolute;
        border-radius: 20px;
        width: 50%;
        height: 40px;
        bottom: 5px;
        left: 25%;
        font-family: 'Brush Script MT ';
    }
    .beans-view-btn:hover { 
        background-color: #503f30;
    }





#peppers-box {
    display: flex;
    position: relative;
    background-color: #ede9dc;
    height: 300px;
    width: 250px;
    margin-bottom: 50px;
    border: 2px solid  #3e2e20;
    border-radius: 15px;
}
    .peppers-header {
        position: absolute;
        font-family: 'Courier New';
        border-radius: 10px 10px 0px 0px;
        width: 100%;
        height: 35px;
        top: -30px;
        background-color: #3e2e20;
        color: white;
        font-size: 30px;
        text-align: left;
        text-indent: 10px;
    }

    #peppers-pic {
        display: flex;
        background-image: url(https://images.unsplash.com/photo-1625885707454-60a95de41b63?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1180&q=80);
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        top: 50px;
        left: 10%;
        height: 200px;
        width: 80%;
        border-radius: 5%;
        box-shadow: 1px 1px 2px #3e2e20;
    }

    .peppers-view-btn {
        color: white;
        font-size: 15px;
        background-color: #3e2e20;
        position: absolute;
        border-radius: 20px;
        width: 50%;
        height: 40px;
        bottom: 5px;
        left: 25%;
        font-family: 'Brush Script MT ';
    }
    .peppers-view-btn:hover { 
        background-color: #503f30;
    }





#cucumbers-box {
    display: flex;
    position: relative;
    background-color: #ede9dc;
    height: 300px;
    width: 250px;
    margin-bottom: 50px;
    border: 2px solid  #3e2e20;
    border-radius: 15px;
}
    .cucumbers-header {
        position: absolute;
        font-family: 'Courier New';
        border-radius: 10px 10px 0px 0px;
        width: 100%;
        height: 35px;
        top: -30px;
        background-color: #3e2e20;
        color: white;
        font-size: 30px;
        text-align: left;
        text-indent: 10px;
    }

    #cucumbers-pic {
        display: flex;
        background-image: url(https://images.unsplash.com/photo-1518568403628-df55701ade9e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        top: 50px;
        left: 10%;
        height: 200px;
        width: 80%;
        border-radius: 5%;
        box-shadow: 1px 1px 2px #3e2e20;
    }

    .cucumbers-view-btn {
        color: white;
        font-size: 15px;
        background-color: #3e2e20;
        position: absolute;
        border-radius: 20px;
        width: 50%;
        height: 40px;
        bottom: 5px;
        left: 25%;
        font-family: 'Brush Script MT ';
    }
    .cucumbers-view-btn:hover { 
        background-color: #503f30;
    }





#carrots-box {
    display: flex;
    position: relative;
    background-color: #ede9dc;
    height: 300px;
    width: 250px;
    margin-bottom: 50px;
    border: 2px solid  #3e2e20;
    border-radius: 15px;
}
    .carrots-header {
        position: absolute;
        font-family: 'Courier New';
        border-radius: 10px 10px 0px 0px;
        width: 100%;
        height: 35px;
        top: -30px;
        background-color: #3e2e20;
        color: white;
        font-size: 30px;
        text-align: left;
        text-indent: 10px;
    }

    #carrots-pic {
        display: flex;
        background-image: url(https://images.unsplash.com/photo-1602496874897-6dda29009587?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        top: 50px;
        left: 10%;
        height: 200px;
        width: 80%;
        border-radius: 5%;
        box-shadow: 1px 1px 2px #3e2e20;
    }

    .carrots-view-btn {
        color: white;
        font-size: 15px;
        background-color: #3e2e20;
        position: absolute;
        border-radius: 20px;
        width: 50%;
        height: 40px;
        bottom: 5px;
        left: 25%;
        font-family: 'Brush Script MT ';
    }
    .carrots-view-btn:hover { 
        background-color: #503f30;
    }





#potatoes-box {
    display: flex;
    position: relative;
    background-color: #ede9dc;
    height: 300px;
    width: 250px;
    margin-bottom: 50px;
    border: 2px solid  #3e2e20;
    border-radius: 15px;
}
    .potatoes-header {
        position: absolute;
        font-family: 'Courier New';
        border-radius: 10px 10px 0px 0px;
        width: 100%;
        height: 35px;
        top: -25px;
        background-color: #3e2e20;
        color: white;
        font-size: 24px;
        text-align: left;
        text-indent: 10px;
    }

    #potatoes-pic {
        display: flex;
        background-image: url(https://images.unsplash.com/photo-1591857172651-1c9fde426c84?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80);
        background-size: 250%;
        background-repeat: no-repeat;
        background-position: bottom;
        position: absolute;
        top: 50px;
        left: 10%;
        height: 200px;
        width: 80%;
        border-radius: 5%;
        box-shadow: 1px 1px 2px #3e2e20;
    }

    .potatoes-view-btn {
        color: white;
        font-size: 15px;
        background-color: #3e2e20;
        position: absolute;
        border-radius: 20px;
        width: 50%;
        height: 40px;
        bottom: 5px;
        left: 25%;
        font-family: 'Brush Script MT ';
    }
    .potatoes-view-btn:hover { 
        background-color: #503f30;
    }





#squash-box {
    display: flex;
    position: relative;
    background-color: #ede9dc;
    height: 300px;
    width: 250px;
    margin-bottom: 50px;
    border: 2px solid  #3e2e20;
    border-radius: 15px;
}
    .squash-header {
        position: absolute;
        font-family: 'Courier New';
        border-radius: 10px 10px 0px 0px;
        width: 100%;
        height: 35px;
        top: -30px;
        background-color: #3e2e20;
        color: white;
        font-size: 30px;
        text-align: left;
        text-indent: 10px;
    }

    #squash-pic {
        display: flex;
        background-image: url(https://images.unsplash.com/photo-1601600852270-d2550a3c0fb6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        top: 50px;
        left: 10%;
        height: 200px;
        width: 80%;
        border-radius: 5%;
        box-shadow: 1px 1px 2px #3e2e20;
    }

    .squash-view-btn {
        color: white;
        font-size: 15px;
        background-color: #3e2e20;
        position: absolute;
        border-radius: 20px;
        width: 50%;
        height: 40px;
        bottom: 5px;
        left: 25%;
        font-family: 'Brush Script MT ';
    }
    .squash-view-btn:hover { 
        background-color: #503f30;
    }





#corn-box {
    display: flex;
    position: relative;
    background-color: #ede9dc;
    height: 300px;
    width: 250px;
    margin-bottom: 50px;
    border: 2px solid  #3e2e20;
    border-radius: 15px;
}
    .corn-header {
        position: absolute;
        font-family: 'Courier New';
        border-radius: 10px 10px 0px 0px;
        width: 100%;
        height: 35px;
        top: -30px;
        background-color: #3e2e20;
        color: white;
        font-size: 30px;
        text-align: left;
        text-indent: 10px;
    }

    #corn-pic {
        display: flex;
        background-image: url(https://images.unsplash.com/photo-1554402100-8d1d9f3dff80?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80);
        background-size: 110%;
        background-repeat: no-repeat;
        background-position: bottom;
        position: absolute;
        top: 50px;
        left: 10%;
        height: 200px;
        width: 80%;
        border-radius: 5%;
        box-shadow: 1px 1px 2px #3e2e20;
    }

    .corn-view-btn {
        color: white;
        font-size: 15px;
        background-color: #3e2e20;
        position: absolute;
        border-radius: 20px;
        width: 50%;
        height: 40px;
        bottom: 5px;
        left: 25%;
        font-family: 'Brush Script MT ';
    }
    .corn-view-btn:hover { 
        background-color: #503f30;
    }





#onions-box {
    display: flex;
    position: relative;
    background-color: #ede9dc;
    height: 300px;
    width: 250px;
    margin-bottom: 50px;
    border: 2px solid  #3e2e20;
    border-radius: 15px;
}
    .onions-header {
        position: absolute;
        font-family: 'Courier New';
        border-radius: 10px 10px 0px 0px;
        width: 100%;
        height: 35px;
        top: -25px;
        background-color: #3e2e20;
        color: white;
        font-size: 24px;
        text-align: left;
        text-indent: 10px;
    }

    #onions-pic {
        display: flex;
        background-image: url(https://images.unsplash.com/photo-1626904416109-38a278f8c5eb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=985&q=80);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        top: 50px;
        left: 10%;
        height: 200px;
        width: 80%;
        border-radius: 5%;
        box-shadow: 1px 1px 2px #3e2e20;
    }

    .onions-view-btn {
        color: white;
        font-size: 15px;
        background-color: #3e2e20;
        position: absolute;
        border-radius: 20px;
        width: 50%;
        height: 40px;
        bottom: 5px;
        left: 25%;
        font-family: 'Brush Script MT ';
    }
    .onions-view-btn:hover { 
        background-color: #503f30;
    }