body {
    padding: 0;
    margin: 0;
    background-color: #ede9dc;
}

header {
    display: flex;
    color: white;
    text-align: center;
    font-size: 25px;
    background-image: url(https://images.unsplash.com/photo-1608327624934-69f40c5a819b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
    height: 125px;
    text-shadow: 2px 2px black;
}

.home-display {
    color: white;
    text-align: center;
    font-size: 20px;
    background: none;
    border: none;
    height: 125px;
    width: 350px;
    text-shadow: 2px 2px black;
    font-family: 'Courier New';
}

.my-plants {
    color: white;
    background-color: #1c331c;
    border-radius: 15px;
    text-align: center;
    font-size: 18px;
    border: none;
    height: 45px;
    width: 125px;
    position: absolute;
    right: 15px;
    margin: 10px;
    text-shadow: 2px 2px black;
    font-family: 'Courier New';
}


.my-plants:hover { 
    background-color: #2a472a;
}
.my-plants:active {
    background-color: #2a462a;
    box-shadow: inset 1px #1c331c;
    transform: scale(.95);
}


.container {
    display: flex;
}

.left-box {
    position: absolute;
    width: 80px;
    top: 125px;
    height: 100%;
    bottom: 0px;
    background-color: #3e2e20;
}

.right-box {
    position: absolute;
    width: 80px;
    right: 0px;
    top: 125px;
    height: 100%;
    bottom: 0px;
    background-color: #3e2e20;
}




.garden-container {
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-start;
	align-content: flex-start;
    color: white;
    background-color: #ede9dc;
    position: relative;
    left: 10%;
    width: 80%;
    height: 100%;
    top: 150px;
    text-align: center;
    font-size: 40px;
}

#garden-title {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
    text-align: left;
    left: 85px;
    position: absolute;
    font-family: 'Lucida';
    font-size: 55px;
    width: 100%;
    color: #1c331c;
}





#lettuce-box {
    display: flex;
    position: relative;
    background-color: #ede9dc;
    height: 300px;
    width: 250px;
    margin-bottom: 50px;
    border: 2px solid  #3e2e20;
    border-radius: 15px;
}
    .lettuce-header {
        position: absolute;
        font-family: 'Courier New';
        border-radius: 10px 10px 0px 0px;
        width: 100%;
        height: 35px;
        top: -30px;
        background-color: #3e2e20;
        color: white;
        font-size: 30px;
        text-align: left;
        text-indent: 10px;
    }

    #lettuce-pic {
        display: flex;
        background-image: url(https://images.unsplash.com/photo-1584650795276-da2ee6f2f4ec?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom;
        position: absolute;
        top: 50px;
        left: 10%;
        height: 200px;
        width: 80%;
        border-radius: 5%;
        box-shadow: 1px 1px 2px #3e2e20;
    }

    .lettuce-view-btn {
        color: white;
        font-size: 15px;
        background-color: #3e2e20;
        position: absolute;
        border-radius: 20px;
        width: 50%;
        height: 40px;
        bottom: 5px;
        left: 25%;
        font-family: 'Brush Script MT ';
    }
    .lettuce-view-btn:hover { 
        background-color: #503f30;
    }




#tomatoes-box {
    display: flex;
    position: relative;
    background-color: #ede9dc;
    height: 300px;
    width: 250px;
    margin-bottom: 50px;
    border: 2px solid  #3e2e20;
    border-radius: 15px;
}
    .tomatoes-header {
        position: absolute;
        font-family: 'Courier New';
        border-radius: 10px 10px 0px 0px;
        width: 100%;
        height: 35px;
        top: -30px;
        background-color: #3e2e20;
        color: white;
        font-size: 30px;
        text-align: left;
        text-indent: 10px;
    }

    #tomatoes-pic {
        display: flex;
        background-image: url(https://images.unsplash.com/photo-1596199050105-6d5d32222916?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        top: 50px;
        left: 10%;
        height: 200px;
        width: 80%;
        border-radius: 5%;
        box-shadow: 1px 1px 2px #3e2e20;
    }

    .tomatoes-view-btn {
        color: white;
        font-size: 15px;
        background-color: #3e2e20;
        position: absolute;
        border-radius: 20px;
        width: 50%;
        height: 40px;
        bottom: 5px;
        left: 25%;
        font-family: 'Brush Script MT ';
    }
    .tomatoes-view-btn:hover { 
        background-color: #503f30;
    }





#cucumbers-box {
    display: flex;
    position: relative;
    background-color: #ede9dc;
    height: 300px;
    width: 250px;
    margin-bottom: 50px;
    border: 2px solid  #3e2e20;
    border-radius: 15px;
}
    .cucumbers-header {
        position: absolute;
        font-family: 'Courier New';
        border-radius: 10px 10px 0px 0px;
        width: 100%;
        height: 35px;
        top: -30px;
        background-color: #3e2e20;
        color: white;
        font-size: 30px;
        text-align: left;
        text-indent: 10px;
    }

    #cucumbers-pic {
        display: flex;
        background-image: url(https://images.unsplash.com/photo-1518568403628-df55701ade9e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        top: 50px;
        left: 10%;
        height: 200px;
        width: 80%;
        border-radius: 5%;
        box-shadow: 1px 1px 2px #3e2e20;
    }

    .cucumbers-view-btn {
        color: white;
        font-size: 15px;
        background-color: #3e2e20;
        position: absolute;
        border-radius: 20px;
        width: 50%;
        height: 40px;
        bottom: 5px;
        left: 25%;
        font-family: 'Brush Script MT ';
    }
    .cucumbers-view-btn:hover { 
        background-color: #503f30;
    }





#carrots-box {
    display: flex;
    position: relative;
    background-color: #ede9dc;
    height: 300px;
    width: 250px;
    margin-bottom: 50px;
    border: 2px solid  #3e2e20;
    border-radius: 15px;
}
    .carrots-header {
        position: absolute;
        font-family: 'Courier New';
        border-radius: 10px 10px 0px 0px;
        width: 100%;
        height: 35px;
        top: -30px;
        background-color: #3e2e20;
        color: white;
        font-size: 30px;
        text-align: left;
        text-indent: 10px;
    }

    #carrots-pic {
        display: flex;
        background-image: url(https://images.unsplash.com/photo-1602496874897-6dda29009587?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        top: 50px;
        left: 10%;
        height: 200px;
        width: 80%;
        border-radius: 5%;
        box-shadow: 1px 1px 2px #3e2e20;
    }

    .carrots-view-btn {
        color: white;
        font-size: 15px;
        background-color: #3e2e20;
        position: absolute;
        border-radius: 20px;
        width: 50%;
        height: 40px;
        bottom: 5px;
        left: 25%;
        font-family: 'Brush Script MT ';
    }
    .carrots-view-btn:hover { 
        background-color: #503f30;
    }





#corn-box {
    display: flex;
    position: relative;
    background-color: #ede9dc;
    height: 300px;
    width: 250px;
    margin-bottom: 50px;
    border: 2px solid  #3e2e20;
    border-radius: 15px;
}
    .corn-header {
        position: absolute;
        font-family: 'Courier New';
        border-radius: 10px 10px 0px 0px;
        width: 100%;
        height: 35px;
        top: -30px;
        background-color: #3e2e20;
        color: white;
        font-size: 30px;
        text-align: left;
        text-indent: 10px;
    }

    #corn-pic {
        display: flex;
        background-image: url(https://images.unsplash.com/photo-1554402100-8d1d9f3dff80?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80);
        background-size: 110%;
        background-repeat: no-repeat;
        background-position: bottom;
        position: absolute;
        top: 50px;
        left: 10%;
        height: 200px;
        width: 80%;
        border-radius: 5%;
        box-shadow: 1px 1px 2px #3e2e20;
    }

    .corn-view-btn {
        color: white;
        font-size: 15px;
        background-color: #3e2e20;
        position: absolute;
        border-radius: 20px;
        width: 50%;
        height: 40px;
        bottom: 5px;
        left: 25%;
        font-family: 'Brush Script MT ';
    }
    .corn-view-btn:hover { 
        background-color: #503f30;
    }